Q1

(1) String

In [ ]:
A ="anup"

(2)

list

In [ ]:
a=[2,3,4,True,29.7]

(3)

float

In [ ]:
a=[2,3,4,True,29.7]

(4)

tuple

In [ ]:
a=('vedu')
 ('v','e','d','u')

Q(2)

In [ ]:
ans(1) var1='' :- string
ans(2) var2='[DS,ML,PYTHON]' :- String
ans(3) var=['DS','ML','PYTHON'] :- List
ans(4) var4=1 :- int

Q(3)

(1)  /

it is used for division for eg:

In [2]:
4/2

2.0

(2)  % 

it is used to divide operands and return the remainder

In [3]:
5%2

1

(3) // 

divides and the return the integer value of quotient

In [11]:
4//2

2

(4) **

it is used for the multiplying the power of a given number

In [12]:
2**3

8

(4)  Create a list of length 10 of your choice containing multiple types of data. using for loop print the element and its data types

In [13]:
a=[34, 54, 'IOT', 54.65, "anup", True, 54.7, 64, False, 'pure']
for i in a:
    print(i)
    print(type(i))

34
<class 'int'>
54
<class 'int'>
IOT
<class 'str'>
54.65
<class 'float'>
anup
<class 'str'>
True
<class 'bool'>
54.7
<class 'float'>
64
<class 'int'>
False
<class 'bool'>
pure
<class 'str'>

(5) Using a while loop,verify if the number A is purely divisible by number B and if so then so how many times it can be divsible

In [19]:
a=int(input())
b=int(input())
count=0
while a%b==0:
    count+=1
    a=a/b
print(f" a is divisible by b {count} times")

 8
 2

 a is divisible by b 3 times

Q(6)  Create a list containing 25 int types data.Using for loop and if-else condition pritn if the element is divisible by 3 or not

In [98]:
a=[1,2,3,4,5,6,7,8,9,18,19,20,21,27,32,45,76,80,39,42,44,46,45,19,99]
for i in a:
    if (i%3==0):
        print(f"{i} is divisible by 3")
else:
    print(f"{i} is not divisible by 3")

3 is divisible by 3
6 is divisible by 3
9 is divisible by 3
18 is divisible by 3
21 is divisible by 3
27 is divisible by 3
45 is divisible by 3
39 is divisible by 3
42 is divisible by 3
45 is divisible by 3
99 is divisible by 3
99 is not divisible by 3

Q(7) What do you understand about mutable and immutable data types? Give example for both showing this property.

In mutable data types the value in the list can be changed or modified   
for eg:-(List)

In [100]:
a=[1, 3, 4, 5, True, "scam", 34.56]

In [89]:
type(a)

list

In [92]:
a[3]

5

In [93]:
a[3]="pw"

In [94]:
a

[1, 3, 4, 'pw', True, 23.67]

In immmutable data types the value which is in the form of string,if we have to change a single alphabet in the string it can't be changed

for eg (string)

In [101]:
a=[1, 3, 4, 5, True, "scam", 34.56]

In [102]:
type(a)

list

In [107]:
f="scam"

In [109]:
f[3]

'm'

In [111]:
f[2]="n"

TypeError: 'str' object does not support item assignment